{% extends "base.html" %}
{% block title %}Beer{% endblock %}
{% block content %}



<div class="split">
    <div class="centered">
      <img id="product" src={{products[0].image}} alt="Beer can">
      <h2>{{products[0].product_name}}</h2>
      <p>Price for one can {{ "%.2f"|format(products[0].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[0].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src={{products[1].image}} alt="Beer bottle">
      <h2>{{products[1].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[1].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[1].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src={{products[2].image}} alt="Beer case">
      <h2>{{products[2].product_name}}</h2>
      <p>12 bottles in case. Price {{ "%.2f"|format(products[2].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[2].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div>

 
  
{% endblock content %}