{% extends "base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}

<div class="container">
	<h3>Your Shopping Cart:</h3>
	<div class="cart">
		<div class="products">
            {% for product in products %}
			<div class="product">
				<img src="{{ product['image'] }}">
				    <div class="product-info">
                        <h4 class="product-name">{{ product['name']}}</h4>
                        <p class="product-quantity">Quantity: {{ product['quantity'] }}</p>
                        <h5 class="product-price">Price: {{ "%.2f"|format(product['total']) }} &euro;</h5>
                        <a class="white" href="{{ url_for('remove_from_cart', index=product['index']) }}">
                        <p class="product-remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <span class="remove">Remove</span>
					    </p>
                        </a>
				    </div>
			</div>
            {% endfor %}
		</div>
            <div class="cart-total">
                <p>
                    <span>Total Price:</span>
                    <span>{{ "%.2f"|format(grand_total) }}</span>
                </p>
                <p>
                    <span>Number of Items:</span>
                    <span>{{ grand_quantity }}</span>
                </p>
                <a href="{{ url_for('checkout' ) }}">Proceed to Checkout</a>
            </div>
	</div>
</div>
{% if products|length >2 %}
<div class="after-product"></div>
{% endif %}






{% endblock content %}