{% extends "base.html" %}
{% block title %}Strong alcohol{% endblock %}
{% block content %}
<div class="split">
    <div class="centered">
      <img id="product" src="/static/vodka.png" alt="Vodka">
      <h2>Vodka</h2>
      <p>Price for one bottle 17.95</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src="/static/gin.png" alt="Gin">
      <h2>Gin</h2>
      <p>Price for one bottle 22.40</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src="/static/whisky2.png" alt="Whisky">
      <h2>Whisky</h2>
      <p>Price for one bottle 31.25</p>
    </div>
  </div>

  <div>
    <div>
        <div class="divider-middle"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(1*17.95|float)}}€</option>
            <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*17.95|float)}}€ </option>
            <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*17.95|float)}}€ </option>
            <option value="4">4 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(4*17.95|float)}}€ </option>
            <option value="5">5 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(5*17.95|float)}}€ </option>
            <option value="6">6 &emsp;&emsp;&emsp;{{"%.2f"|format(6*17.95|float)}}€ </option>
            <option value="7">7 &emsp;&emsp;&emsp;{{"%.2f"|format(7*17.95|float)}}€ </option>
            <option value="8">8 &emsp;&emsp;&emsp;{{"%.2f"|format(8*17.95|float)}}€ </option>
            <option value="9">9 &emsp;&emsp;&emsp;{{"%.2f"|format(9*17.95|float)}}€ </option>
            <option value="10">10&emsp;&emsp;&nbsp;&nbsp;&nbsp;{{"%.2f"|format(10*17.95|float)}}€ </option>
          </select>
          <div class="divider"></div>
        </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary">Add to basket</button>
      </div>
      <div class="divider-large"></div>
      <div class="btn-group" role="group">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose quantity</option>
          <option value="1">1 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(1*22.40|float)}}€</option>
          <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*22.40|float)}}€ </option>
          <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*22.40|float)}}€ </option>
          <option value="4">4 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(4*22.40|float)}}€ </option>
          <option value="5">5 &emsp;&emsp;&emsp;{{"%.2f"|format(5*22.40|float)}}€ </option>
          <option value="6">6 &emsp;&emsp;&emsp;{{"%.2f"|format(6*22.40|float)}}€ </option>
          <option value="7">7 &emsp;&emsp;&emsp;{{"%.2f"|format(7*22.40|float)}}€ </option>
          <option value="8">8 &emsp;&emsp;&emsp;{{"%.2f"|format(8*22.40|float)}}€ </option>
          <option value="9">9 &emsp;&emsp;&emsp;{{"%.2f"|format(9*22.40|float)}}€ </option>
          <option value="10">10&emsp;&emsp;&nbsp;&nbsp;&nbsp;{{"%.2f"|format(10*22.40|float)}}€ </option>
        </select>
        <div class="divider"></div>
    </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>
        <div class="divider-large"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(1*31.25|float)}}€</option>
            <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*31.25|float)}}€ </option>
            <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*31.25|float)}}€ </option>
            <option value="4">4 &emsp;&emsp;&emsp;{{"%.2f"|format(4*31.25|float)}}€ </option>
            <option value="5">5 &emsp;&emsp;&emsp;{{"%.2f"|format(5*31.25|float)}}€ </option>
            <option value="6">6 &emsp;&emsp;&emsp;{{"%.2f"|format(6*31.25|float)}}€ </option>
            <option value="7">7 &emsp;&emsp;&emsp;{{"%.2f"|format(7*31.25|float)}}€ </option>
            <option value="8">8 &emsp;&emsp;&emsp;{{"%.2f"|format(8*31.25|float)}}€ </option>
            <option value="9">9 &emsp;&emsp;&emsp;{{"%.2f"|format(9*31.25|float)}}€ </option>
            <option value="10">10&emsp;&emsp;&nbsp;&nbsp;&nbsp;{{"%.2f"|format(10*31.25|float)}}€ </option>
          </select>
            <div class="divider"></div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>  
    </div>
    
  </div>

{% endblock content %}