{% extends "base.html" %}
{% block title %}Strong alcohol{% endblock %}
{% block content %}
<div class="split">
    <div class="centered">
      <img id="product" src={{products[6].image}} alt="Vodka">
      <h2>{{products[6].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[6].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[6].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to basket</button>
        </form>
      </div>
    
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src={{products[7].image}} alt="Gin">
      <h2>{{products[7].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[7].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[7].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to basket</button>
        </form>
      </div>
    </div>




  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src={{products[8].image}} alt="Whisky">
      <h2>{{products[8].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[8].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[8].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to basket</button>
        </form>
      </div>
    </div>
    
  </div>

  <div>
    <div>
        
      

{% endblock content %}