{% extends "base.html" %}
{% block title %}Wine{% endblock %}
{% block content %}
<div class="split">
    <div class="centered">
      <img id="product" src={{products[3].image}} alt="Red wine">
      <h2>{{products[3].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[3].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[3].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src={{products[4].image}} alt="White wine">
      <h2>{{products[4].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[4].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[4].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src={{products[5].image}} alt="Rose wine">
      <h2>{{products[5].product_name}}</h2>
      <p>Price for one bottle {{ "%.2f"|format(products[5].price) }}</p>
      <div class="space"></div>
      <div>
        <form  class="form-inline" action="{{ url_for('add_to_cart') }}" method='POST'>
          <input type="hidden" name='product_id' value={{products[5].id}}>
         <label for="">Choose Quantity:</label>
         <div class='divider'></div>
         <input id="quantity" type="number", name="quantity", value='1', min="1", max="20">
         <div class='divider'></div>
         <button type="submit" class="btn btn-primary">Add to cart</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}