{% extends "base.html" %}
{% block title %}Wine{% endblock %}
{% block content %}
<div class="split">
    <div class="centered">
      <img id="product" src="/static/red_wine.png" alt="Red wine">
      <h2>Red wine</h2>
      <p>Price for one bottle 7.35</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src="/static/white_wine.png" alt="White wine">
      <h2>White wine</h2>
      <p>Price for one bottle 6.90</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src="/static/rose_wine.png" alt="Rose wine">
      <h2>Rose wine</h2>
      <p>Price for one bottle 7.75</p>
    </div>
  </div>

  <div>
    <div>
        <div class="divider-middle"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1 &emsp;&emsp;&emsp;&emsp;{{"%.2f"|format(1*7.35|float)}}€</option>
            <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*7.35|float)}}€ </option>
            <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*7.35|float)}}€ </option>
            <option value="4">4 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(4*7.35|float)}}€ </option>
            <option value="5">5 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(5*7.35|float)}}€ </option>
            <option value="6">6 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(6*7.35|float)}}€ </option>
            <option value="7">7 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(7*7.35|float)}}€ </option>
            <option value="8">8 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(8*7.35|float)}}€ </option>
            <option value="9">9 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(9*7.35|float)}}€ </option>
            <option value="10">10&emsp;&emsp;&emsp;&nbsp;{{"%.2f"|format(10*7.35|float)}}€ </option>
          </select>
          <div class="divider"></div>
        </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary">Add to basket</button>
      </div>
      <div class="divider-large"></div>
      <div class="btn-group" role="group">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose quantity</option>
          <option value="1">1 &emsp;&emsp;&emsp;&emsp;{{"%.2f"|format(1*6.90|float)}}€</option>
          <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*6.90|float)}}€ </option>
          <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*6.90|float)}}€ </option>
          <option value="4">4 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(4*6.90|float)}}€ </option>
          <option value="5">5 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(5*6.90|float)}}€ </option>
          <option value="6">6 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(6*6.90|float)}}€ </option>
          <option value="7">7 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(7*6.90|float)}}€ </option>
          <option value="8">8 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(8*6.90|float)}}€ </option>
          <option value="9">9 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(9*6.90|float)}}€ </option>
          <option value="10">10&emsp;&emsp;&emsp;&nbsp;{{"%.2f"|format(10*6.90|float)}}€ </option>
        </select>
        <div class="divider"></div>
    </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>
        <div class="divider-large"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1 &emsp;&emsp;&emsp;&emsp;{{"%.2f"|format(1*7.75|float)}}€</option>
            <option value="2">2 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(2*7.75|float)}}€ </option>
            <option value="3">3 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(3*7.75|float)}}€ </option>
            <option value="4">4 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(4*7.75|float)}}€ </option>
            <option value="5">5 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(5*7.75|float)}}€ </option>
            <option value="6">6 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(6*7.75|float)}}€ </option>
            <option value="7">7 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(7*7.75|float)}}€ </option>
            <option value="8">8 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(8*7.75|float)}}€ </option>
            <option value="9">9 &emsp;&emsp;&emsp;&nbsp;&nbsp;{{"%.2f"|format(9*7.75|float)}}€ </option>
            <option value="10">10&emsp;&emsp;&emsp;&nbsp;{{"%.2f"|format(10*7.75|float)}}€ </option>
          </select>
            <div class="divider"></div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>  
    </div>
    
  </div>

{% endblock content %}