ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 209, 113);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  rgb(121, 219, 162) ;
    color: black
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:    rgb(45, 209, 113) ;
    color: black;
    text-align: center;
}

.f1,
.f2,
.f3 {
     
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
text-align: right;
font-size: 12px;
padding: 0 6%;
min-width: 300px;
width: 33%;
}
     
.f1 {
    text-align: left;
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 33.33%;
  }

.row {
    margin-top: 5px;
}

#logo {
    height: 40px;
    width: 40px;
    float: left;
}

#page_logo {
    height: 100px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#nav_logo {
    height: 30px;
    width: 30px;
    padding-right: 2px;
}

.split {
  color: black;
  background-color:   rgb(100, 218, 149);;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  float: left;
  margin: 50px;
  padding: 15px;
}

.centered {
  text-align: center;
  padding: 15px;
}

#product {
  width: 135px;
  height: 250px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#product_wide {
  width: 250px;
  height: 250px;}

.divider{
  width: 10px;
  height: auto;
  display: inline-block;
}

.divider-middle{
  width: 90px;
  height: auto;
  display: inline-block;
}

.divider-large{
  width: 175px;
  height: auto;
  display: inline-block;
}

.content-section{
  background-color:rgb(76, 216, 134);
  text-align: center;
  width: 40%;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.form-group {
  margin: 10px;
  margin-top: 20px;
}

legend{
  margin-bottom: 15px;
}

small {
  margin-left: 675px !important;
}

.message{
  position: fixed;
  font-size: 14px;
}

.forgot {
  font-size: 14px;
  margin-top: 20px;
}


.form-check {
  margin-top: 14px !important; 
  margin-left: 225px !important;
}

#price {
  text-align-last:right;
}

.fab {
    color: black;
    text-align:center;
    font-size: 30px;
  }

.fas {
  color: black;
  text-align:center;
  font-size: 30px;
}

span {
  margin: 5px;
}

.small_image {
  height: 45px;
  width: 35px;
}

table {
  margin: 25px;
}

h1 {
  margin: 35px;
  text-align: center;
}

.delete {
  text-align: center;
  margin: 50px;
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

form-inline label {
  margin: 5px 10px 5px 0;
}

.space {
  height: 30px;
}

#quantity {
  width: 50px;
}