ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(45, 209, 113);
  }
  
li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:  rgb(121, 219, 162) ;
  color: black
}

.base_footer {
  position:fixed;
  left: 0 ;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color:    rgb(45, 209, 113) ;
  color: black;
  text-align: center;
}

.f1,
.f2,
.f3 {
     
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;
text-align: right;
font-size: 12px;
padding: 0 6%;
min-width: 300px;
width: 33%;
}
     
.f1 {
    text-align: left; 
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 33.33%;
  }

.row_footer{
    margin-top: 5px;
}

#logo {
    height: 40px;
    width: 40px;
    float: left;
}

#page_logo {
    height: 100px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

#nav_logo {
    height: 30px;
    width: 30px;
    padding-right: 2px;
}

.split {
  color: black;
  background-color:   rgb(100, 218, 149);;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  float: left;
  margin: 50px;
  padding: 15px;
}

.centered {
  text-align: center;
  padding: 15px;
}

#product {
  width: 135px;
  height: 250px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#product_wide {
  width: 250px;
  height: 250px;}

.divider{
  width: 10px;
  height: auto;
  display: inline-block;
}

.divider-middle{
  width: 90px;
  height: auto;
  display: inline-block;
}

.divider-large{
  width: 175px;
  height: auto;
  display: inline-block;
}

.content-section{
  background-color:rgb(76, 216, 134);
  text-align: center;
  width: 40%;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  margin-top: 45px;
  margin-bottom: 15px;
}

.form-group {
  margin: 10px;
  margin-top: 20px;
}

legend{
  margin-bottom: 15px;
}

small {
  margin-left: 675px !important;
}

.message{
  position: fixed;
  font-size: 14px;
}

.forgot {
  font-size: 14px;
  margin-top: 20px;
}


.form-check {
  margin-top: 14px !important; 
  margin-left: 225px !important;
}

#price {
  text-align-last:right;
}

.fab {
    color: black;
    text-align:center;
    font-size: 30px;
  }

.fas {
  color: black;
  text-align:center;
  font-size: 30px;
}

span {
  margin: 5px;
}

.small_image {
  height: 45px;
  width: 35px;
}

table {
  margin: 25px;
}

h1 {
  margin: 35px;
  text-align: center;
}

.delete {
  text-align: center;
  margin: 50px;
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

form-inline label {
  margin: 5px 10px 5px 0;
}

.space {
  height: 50px;
}

#quantity {
  width: 50px;
}


body {
  overflow-x: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.container > h1{
	padding: 20px 0;
}

.cart{
	display: flex;
}

.products{
	flex: 0.75;
}

.product{
	display: flex;
	width: 100%;
	height: 130px;
	overflow: hidden;
	border: 1px solid silver;
	margin-bottom: 20px;
}

.product:hover{
	border: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	transform: scale(1.01);
}

.product > img{
  margin-right: 75px;
	width: 70px;
	height: 120px;
}

.product > img:hover{
	transform: scale(1.04);
}

.product-info{
	padding: 15px;
	width: 100%;
	position: relative;

}

.product-name, .product-price, .product-offer{
	margin-bottom: 20px;
}

.product-remove{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: green;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.product-remove:hover{
	background-color: white;
	color: green  ;
	font-weight: 600;
	border: 1px solid green;
}

.product-quantity > input{
	width: 40px;
	padding: 5px;
	text-align: center;
}

.fa{
	margin-right: 5px;
}

.cart-total{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240px;
	border: 1px solid silver;
	border-radius: 5px;
}

.cart-total p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 20px;
}

.cart-total a{
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: tomato;
	color: white;
	text-decoration: none;
}

.cart-total a:hover{
	background-color: red;
}

@media screen and (max-width: 700px){
	.remove{
		display: none;
	}
	.product{
		height: 150px;
	}

	.product > img{
		height: 150px;
		width: 200px;
	}

	.product-name, .product-price, .product-offer{
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 900px){
	.cart{
		flex-direction: column;
	}
	.cart-total{
		margin-left: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1220px){
	.container{
		max-width: 95%;
	}

}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.after-product {
  height: 100px;
}

.card {
  margin: auto;
  margin-top: 15px;
  width: 38%;
  max-width: 600px;
  padding: 2vh 0;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 3px solid rgb(252, 103, 49);
  border-bottom: 3px solid rgb(252, 103, 49);
  border-left: none;
  border-right: none
}

@media(max-width:768px) {
  .card {
      width: 90%
  }
}

.title {
  color: rgb(252, 103, 49);
  font-weight: 600;
  padding: 0 4%;
  font-size: initial
}

.white_line{
  height: 9px;
}

#details {
  font-weight: 350
}

.info {
  padding: 0% 4%;
}

.info .col-5 {
  padding: 0
}

#heading {
  color: grey;
  line-height: 6vh
}

.pricing {
  background-color: #ddd3;
  padding: 0.1vh 8%;
  font-weight: 400;
  line-height: 1.75;
}

.pricing .col-3 {
  padding: 0
}

.total {
  padding: 0.5vh 8%;
  color: rgb(252, 103, 49);
  font-weight: bold
}

.total .col-3 {
  padding: 0
}

.footer {
  padding: 0 8%;
  font-size: x-small;
  color: black
}

.footer img {
  height: 5vh;
  opacity: 0.2
}

.footer a {
  color: rgb(252, 103, 49)
}

.footer .col-10,
.col-2 {
  display: flex;
  padding: 3vh 0 0;
  align-items: center
}

.footer .row {
  margin: 0
}

#progressbar {
  margin-bottom: 3vh;
  overflow: hidden;
  color: rgb(252, 103, 49);
  padding-left: 0px;
  margin-top: 3vh
}

#progressbar li {
  list-style-type: none;
  font-size: x-small;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: rgb(160, 159, 159)
}

#progressbar #step1:before {
  content: "";
  color: rgb(252, 103, 49);
  width: 5px;
  height: 5px;
  margin-left: 0px !important
}

#progressbar #step2:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;
  margin-left: 32%
}

#progressbar #step3:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;
  margin-right: 32%
}

#progressbar #step4:before {
  content: "";
  color: #fff;
  width: 5px;
  height: 5px;
  margin-right: 0px !important
}

#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #ddd;
  border-radius: 50%;
  margin: auto;
  z-index: -1;
  margin-bottom: 1vh
}

#progressbar li:after {
  content: '';
  height: 2px;
  background: #ddd;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-bottom: 2vh;
  top: 1px;
  z-index: 1
}

.progress-track {
  padding: 0 8%
}

#progressbar li:nth-child(2):after {
  margin-right: auto
}

#progressbar li:nth-child(1):after {
  margin: auto
}

#progressbar li:nth-child(3):after {
  float: left;
  width: 68%
}

#progressbar li:nth-child(4):after {
  margin-left: auto;
  width: 132%
}

#progressbar li.active {
  color: black
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: rgb(252, 103, 49)
}

.space {
  height: 100px;
}