{% extends "base.html" %}
{% block title %}Beer{% endblock %}
{% block content %}
<div class="split">
    <div class="centered">
      <img id="product" src="/static/beer_can.png" alt="Beer can">
      <h2>Beer in can</h2>
      <p>Price for one can 1.20</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product" src="/static/beer_bottle.png" alt="Beer bottle">
      <h2>Beer in bootle</h2>
      <p>Price for one bottle 1.35</p>
    </div>
  </div><div class="split">
    <div class="centered">
        <img id="product_wide" src="/static/beer_case.png" alt="Beer case">
      <h2>Beer case</h2>
      <p>12 bottles in case. Price 15.00</p>
    </div>
  </div>

  <div>
    <div>
        <div class="divider-middle"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <div class="divider"></div>
        </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary">Add to basket</button>
      </div>
      <div class="divider-large"></div>
      <div class="btn-group" role="group">
        <select class="form-select" aria-label="Default select example">
          <option selected>Choose quantity</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <div class="divider"></div>
    </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>
        <div class="divider-large"></div>
        <div class="btn-group" role="group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
            <div class="divider"></div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="submit" class="btn btn-primary">Add to basket</button>
        </div>  
    </div>
    
  </div>

{% endblock content %}